<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://purl.oclc.org/ooxml/officeDocument/extendedProperties" xmlns:vt="http://purl.oclc.org/ooxml/officeDocument/docPropsVTypes">
	<Template>Normal</Template>
	<TotalTime>3</TotalTime>
	<Pages>1</Pages>
	<Words>25</Words>
	<Characters>143</Characters>
	<Application>Microsoft Office Word</Application>
	<DocSecurity>0</DocSecurity>
	<Lines>1</Lines>
	<Paragraphs>1</Paragraphs>
	<ScaleCrop>false</ScaleCrop>
	<Company/>
	<LinksUpToDate>false</LinksUpToDate>
	<CharactersWithSpaces>167</CharactersWithSpaces>
	<SharedDoc>false</SharedDoc>
	<HyperlinksChanged>false</HyperlinksChanged>
	<AppVersion>16.0000</AppVersion>
</Properties>